{% extends "layouts.html" %}
{% block title %} Peminjaman - Perpustakaan DTEI UM{% endblock %}

{% block content %}

<div class="flex flex-col mb-8">
    <span class="text-md text-slate-200 font-medium">Detail Peminjaman - ID {{ fk_peminjam }}</span>
</div>
<div class="p-4 flex-grow bg-white rounded-md">
    <!-- <a href="{{ url_for('buku_index')}} ">
        <div class="flex items-center space-x-2 text-black font-medium">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="">Back</span>
        </div>
    </a> -->
    <div class="flex my-4 py-2 justify-center bg-blue-900 rounded-md">
        <span class="text-3xl text-white font-extrabold">Detail Peminjaman (ID: {{ fk_peminjam }})</span>
    </div>

    <table class="w-full">
        <thead>
            <tr class="text-left border-b-2 border-blue-100">
                <th class="p-2">ID Detail</th>
                <th class="p-2">ID Peminjaman</th>
                <th class="p-2">Nama Buku</th>
            </tr>
        </thead>
        <tbody>
            {% if not detail %}
                <tr>
                    <td colspan="7" class="text-center py-4 text-gray-500">Tidak ada detail peminjaman.</td>
                </tr>
            {% else %}
                {% for detail_peminjaman in detail %}
                <tr class="border-b-2 border-blue-100 border-spacing-4">
                    <td class="py-4 px-2">{{ detail_peminjaman[0] }}</td>
                    <td class="py-4 px-2">{{ detail_peminjaman[1] }}</td>
                    <td class="py-4 px-2">{{ detail_peminjaman[2] }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>

{% endblock %}

