{% extends "layouts.html" %}
{% block title %} Tambah Buku Akhir - Perpustakaan DTEI UM{% endblock %}

{% block content %}
<div class="flex flex-col mb-8">
    <span class="text-md text-slate-200 font-medium">Buku - Tambah Buku Akhir</span>
</div>
<div class="p-4 flex-grow bg-white rounded-md">
    <a href="javascript:history.back()">
        <div class="flex items-center space-x-2 mb-12 text-black font-medium">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="">Back</span>
        </div>
    </a>

    <h1 class="mb-4 text-3xl font-bold">Tambah Buku Akhir</h1>
    <form action="{{ url_for('mahasiswa_setor_buku_insert')}}" method="post">
        <div class="grid grid-cols-1 gap-4 mb-8">
            <!-- ID Buku -->
            <!-- <div class="grid grid-cols-1 gap-2">
                <label for="id_buku" class="text-md font-semibold">ID Buku</label>
                <input type="text" class="p-1.5 w-96 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm" name="id_buku" id="id_buku" placeholder="Masukkan ID Buku">
            </div> -->
            <div class="grid grid-cols-3 gap-2">
                <!-- Mahasiswa -->
                <div class="grid grid-cols-1 gap-2">
                    <label for="nim" class="text-md font-semibold">Mahasiswa</label>
                    <select name="nim" id="nim" required
                        class="p-1.5 w-72 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm">
                        <option value="" selected disabled>Pilih Mahasiswa</option>
                        {% for mhs in mahasiswa %}
                            <option value="{{ mhs[0] }}">{{ mhs[1] }}</option>
                        {% endfor%}
                    </select>
                </div>

                <!-- Buku -->
                <div class="grid grid-cols-1 gap-2">
                    <label for="id_buku" class="text-md font-semibold">Buku</label>
                    <select name="id_buku" id="id_buku" required
                        class="p-1.5 w-72 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm">
                        <option value="" selected disabled>Pilih Buku</option>
                        {% for bk in buku %}
                            <option value="{{ bk[0] }}">{{ bk[1] }}</option>
                        {% endfor%}
                    </select>
                </div>
            </div>
            <div class="grid grid-cols-1 gap-2">
                <!-- Departemen -->
                <div class="grid grid-cols-1 gap-2">
                    <label for="nama_departemen" class="text-md font-semibold">Departemen</label>
                    <input type="text" class="p-1.5 w-96 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm" name="nama_departemen" id="nama_departemen" placeholder="Masukkan Departemen">
                </div>

                <!-- Fakultas -->
                <div class="grid grid-cols-1 gap-2">
                    <label for="nama_fakultas" class="text-md font-semibold">Fakultas</label>
                    <input type="text" class="p-1.5 w-96 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm" name="nama_fakultas" id="nama_fakultas" placeholder="Masukkan Fakultas">
                </div>
        </div>

        <input type="submit" value="Simpan" class="mr-2 px-4 py-2 bg-[#F77603] hover:outline-2 hover:outline-[#F77603] hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200"></input>
    </form>
</div>

{% endblock %}
