{% extends "layouts.html" %}
{% block title %} Edit Peminjaman - Perpustakaan DTEI UM{% endblock %}

{% block content %}
<div class="flex flex-col mb-8">
    <span class="text-md text-slate-200 font-medium">Peminjaman - Edit</span>
</div>
<div class="p-4 flex-grow bg-white rounded-md">
    <a href="javascript:history.back()">
        <div class="flex items-center space-x-2 mb-12 text-black font-medium">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="">Back</span>
        </div>
    </a>

    <h1 class="mb-4 text-3xl font-bold">Edit Peminjaman</h1>
    <form action="{{ url_for('peminjaman_update', id=peminjaman[0])}}" method="post">
        <div class="grid grid-cols-1 gap-4 mb-8">
            <!-- ID Buku -->
            <!-- <div class="grid grid-cols-1 gap-2">
                <label for="id_buku" class="text-md font-semibold">ID Buku</label>
                <input type="text" class="p-1.5 w-96 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm" name="id_buku" id="id_buku" placeholder="Masukkan ID Buku">
            </div> -->
            <!-- Anggota -->
            <div class="flex">
                <div class="grid grid-cols-1 gap-2">
                    <label for="nim_nip" class="text-md font-semibold">Anggota</label>
                    <select name="nim_nip" id="nim_nip" required
                        class="p-1.5 w-72 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm">
                        <option value="" selected disabled>Pilih Anggota</option>
                        {% for member in anggota %}
                            <option value="{{ member[0] }}" {% if member[0] == peminjaman[1] %} selected {% endif %}>{{ member[1] }}</option>
                        {% endfor%}
                    </select>
                </div>
                
                <!-- Batas Peminjaman -->
                <div class="grid grid-cols-1 ml-8 gap-2">
                    <label for="batas_peminjaman" class="text-md font-semibold">Batas Peminjaman</label>
                    <input type="datetime-local" value="{{ peminjaman[4] }}" class="p-1.5 w-40 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm" name="batas_peminjaman" id="batas_peminjaman">
                </div>
            </div>

            <!-- Buku -->
            <div class="grid grid-cols-1 gap-2">
                <label for="id_buku" class="text-md font-semibold">Buku</label>
                <div class="flex">
                    <div class="buku-select-group flex flex-col gap-2">
                        {% for selected_buku in detail %}
                            <div class="buku-item">
                                <select name="id_buku[]" required
                                    class="p-1.5 w-72 outline-1 outline-slate-300 focus:outline-slate-400 rounded-sm">
                                    <option value="" disabled {% if not selected_buku %}selected{% endif %}>Pilih Buku</option>
                                    {% for bk in buku %}
                                        <option value="{{ bk[0] }}" {% if bk[0] == selected_buku %}selected{% endif %}>{{ bk[1] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="grid grid-cols-2 ml-8 gap-2">
                        <button type="button" id="add-buku-btn"
                            class="h-10 px-4 bg-blue-500 hover:outline-2 hover:outline-blue-500 hover:bg-white text-white hover:text-black font-medium rounded-md transition-colors duration-200">
                            + Tambah
                        </button>
                        <button type="button" id="remove-buku-btn"
                            class="h-10 px-4 bg-red-500 hover:outline-2 hover:outline-red-500 hover:bg-white text-white hover:text-black font-medium rounded-md transition-colors duration-200">
                            - Hapus
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <input type="submit" value="Simpan" class="mr-2 px-4 py-2 bg-[#F77603] hover:outline-2 hover:outline-[#F77603] hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200"></input>
    </form>
</div>

{% endblock %}
