{% extends "layouts.html" %}
{% block title %} Peminjaman - Perpustakaan DTEI UM{% endblock %}

{% block content %}

<div class="flex flex-col mb-8">
    <span class="text-md text-slate-200 font-medium">Peminjaman</span>
</div>
<div class="p-4 flex-grow bg-white rounded-md">
    <!-- <a href="{{ url_for('buku_index')}} ">
        <div class="flex items-center space-x-2 text-black font-medium">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="">Back</span>
        </div>
    </a> -->
    <div class="flex my-4 py-2 justify-center bg-blue-900 rounded-md">
        <span class="text-3xl text-white font-extrabold">Detail Peminjaman</span>
    </div>
    <div class="flex flex-col mb-4 items-end">
        <a href="{{ url_for('peminjaman_create')}}" class="mr-2 px-4 py-2 bg-[#F77603] hover:outline-2 hover:outline-[#F77603] hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200">Tambah Peminjaman</a>
    </div>

    <table class="w-full">
        <thead>
            <tr class="text-left border-b-2 border-blue-100">
                <th class="p-2">ID Peminjaman</th>
                <th class="p-2">NIM/NIP</th>
                <th class="p-2">Nama</th>
                <th class="p-2">Tanggal Diambil</th>
                <th class="p-2">Tanggal Disetor</th>
                <th class="p-2">Batas Peminjaman</th>
                <th class="p-2">Status</th>
                <th class="p-2"></th>
            </tr>
        </thead>
        <tbody>
            {% if not peminjaman %}
                <tr>
                    <td colspan="7" class="text-center py-4 text-gray-500">Tidak ada data peminjaman.</td>
                </tr>
            {% else %}
                {% for list_peminjaman in peminjaman %}
                <tr class="border-b-2 border-blue-100 border-spacing-4">
                    <td class="py-4 px-2">{{ list_peminjaman[0] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[1] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[2] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[3] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[4] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[5] }}</td>
                    <td class="py-4 px-2">{{ list_peminjaman[6] }}</td>
                    <td class="grid grid-cols-2 py-4 px-2 gap-2">
                        <a href="{{ url_for('mahasiswa_setor_buku_edit', id=list_peminjaman[0]) }}" class="mr-2 px-4 py-2 bg-blue-500 hover:outline-2 hover:outline-blue-500 hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200">Edit</a>
                        <form action="{{ url_for('mahasiswa_setor_buku_delete', id=list_peminjaman[0]) }}" method="post">
                            <button type="submit" class="delete-btn mr-2 px-4 py-2 bg-red-500 hover:outline-2 hover:outline-red-500 hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200"
                            data-url="{{ url_for('mahasiswa_setor_buku_delete', id=list_peminjaman[0])}}">Delete</button>
                        </form>
                        <a href="{{ url_for('detail_peminjaman_index', id=list_peminjaman[0]) }}" class="col-span-2 w-32 mr-2 px-4 py-2 bg-slate-500 hover:outline-2 hover:outline-slate-500 hover:bg-white text-center text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200">Detail</a>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}

