{% extends "layouts.html" %}
{% block title %} Anggota - Perpustakaan DTEI UM{% endblock %}

{% block content %}

<div class="flex flex-col mb-8">
    <span class="text-md text-slate-200 font-medium">Anggota - Data Jenis Buku</span>
</div>
<div class="p-4 flex-grow bg-white rounded-md">
    <!-- <a href="{{ url_for('buku_index')}} ">
        <div class="flex items-center space-x-2 text-black font-medium">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span class="">Back</span>
        </div>
    </a> -->
    <div class="flex my-4 py-2 justify-center bg-blue-900 rounded-md">
        <span class="text-2xl md:text-3xl text-white font-bold">Data Anggota</span>
    </div>
    <div class="flex flex-col mb-4 items-end">
        <a href="{{ url_for('anggota_create')}}" class="mr-2 px-4 py-2 bg-[#F77603] hover:outline-2 hover:outline-[#F77603] hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200">Tambah Anggota</a>
    </div>
    <table class="w-full">
        <thead>
            <tr class="text-left border-b-2 border-blue-100">
                <th class="p-2">NIM/NIP</th>
                <th class="p-2">Nama</th>
                <th class="p-2">Alamat</th>
                <th class="p-2">No HP</th>
            </tr>
        </thead>
        <tbody>
            {% if not anggota %}
                <tr>
                    <td colspan="6" class="text-center py-4 text-gray-500">Tidak ada data anggota.</td>
                </tr>
            {% else %}
                {% for anggota_perpustakaan in anggota %}
                <tr class="border-b-2 font-semibold border-blue-100 border-spacing-4">
                    <td class="py-4 px-2">{{ anggota_perpustakaan[0] }}</td>
                    <td class="py-4 px-2">{{ anggota_perpustakaan[1] }}</td>
                    <td class="py-4 px-2">{{ anggota_perpustakaan[2] | safe }}</td>
                    <td class="py-4 px-2">{{ anggota_perpustakaan[3] }}</td>
                    <td class="flex py-4 px-2">
                        <a href="{{ url_for('anggota_edit', id=anggota_perpustakaan[0]) }}" class="mr-2 px-4 py-2 bg-blue-500 hover:outline-2 hover:outline-blue-500 hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200">Edit</a>
                        <form action="{{ url_for('anggota_delete', id=anggota_perpustakaan[0]) }}" method="post">
                            <button type="submit" class="delete-btn mr-2 px-4 py-2 bg-red-500 hover:outline-2 hover:outline-red-500 hover:bg-white text-md text-white hover:text-black font-medium rounded-md transition-colors duration-200"
                            data-url="{{ url_for('anggota_delete', id=anggota_perpustakaan[0])}}">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}

